:root{
    --primary-color: #43E0DB;
    --text-color: #fff;
    --bg-color: #081b29;
    --bg2-color: #6136E1;

    color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body{
    font-family: 'Poppins', sans-serif;
}