
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import "@fontsource-variable/inconsolata"; 
 

:root{
    --primary: #04BFAD;
    --secondary: #6C4ED9;
    --text-color: #fff;
    --gray: #b6b6b642;
    --bg-color: #201936;
    --bg-color-o: rgba(0, 0, 0, 0.387);
    --bg-color-f: #403956b0;

    color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--text-color);
    text-decoration: none;
}
p,a,button,span{
  font-family: "Inconsolata Variable", monospace;
  font-weight: 500;
}
body{
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    padding: 14px;
}
img{
    height: auto;
}

/* fontsizes */

h1{
    font-size: 2rem;

}
h2{
  font-size: 1.8rem;
}
p{
  font-size: 1rem;
  /* font-weight: 300; */
}
a{
    font-size: 1rem;
}

button{
  cursor: pointer;
}

.contact{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.btn-primary{
  background-color: var(--bg-color-o);
  border: none;
  padding: 10px 20px;
  border-radius: 14px;
  /* font-weight: 300; */
  font-size: 1rem;
  
}
.typed-cursor{
  font-size: 2rem;
  color: var(--bg-color);
}

@media (min-width:1024px) {
    body{
        padding: 20px;
    }
    h1{
      font-size: 4rem;
    }
    h2{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.2rem;
    }
    a{
        font-size: 1.2rem;
    }
    .btn-primary{
      font-size: 1.4rem;
    }
    .btn-primary:hover{
      box-shadow: 4px 8px 14px rgba(255, 255, 255, 0.2);
    }
    .typed-cursor{
      font-size: 5rem;
    }
}