
@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import "@fontsource-variable/inconsolata"; 
 

:root{
    --primary: #04BFAD;
    --secondary: #6C4ED9;
    --text-color: #fff;
    --gray: #b6b6b642;
    --bg-color: #201936;
    --bg-color-o: rgba(0, 0, 0, 0.387);
    --bg-color-f: #403956b0;

    color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
p,a,button,span{
  font-family: "Inconsolata Variable", monospace;
  font-weight: 500;
}
body{
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
img{
    height: auto;
}

/* fontsizes */

h1{
    font-size: 2rem;

}
h2{
  font-size: 1.8rem;
}
p{
  font-size: 1rem;
  /* font-weight: 300; */
}
a{
    font-size: 1rem;
}

button{
  cursor: pointer;
}


.contact{
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.btn-primary{
  background-color: var(--bg-color-o);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1rem;
  transition: all .2s ease-in-out;
}
.btn-secondary{
  display: flex;
  border: 1px solid;
  padding: 8px 14px;
  border-radius: 4px;
  gap: 8px;
  transition: all .2s ease-in-out;
  width: fit-content;
  align-items: center;
}
.typed-cursor{
  font-size: 2rem;
  color: var(--bg-color);
}
.icon-c path{
  fill: currentColor;
}

.chip{
  display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        padding: 8px 16px;
        max-width: 120px;
        border-radius: 4px;
}
.chip p{
  font-size: .9rem;
}
.chip  p::first-letter{
  text-transform: uppercase;
}
.chip img{
  width: 14px;
}
.tag-container{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(100px, 1fr)  );
  grid-template-rows: auto;
  width: 100%;
  gap: 10px;
}



@media (min-width:1024px) {
    body{
        padding: 20px;
    }
    h1{
      font-size: 3.5rem;
    }
    h2{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.3rem;
    }
    a{
        font-size: 1.2rem;
    }
    .btn-primary{
      font-size: 1.4rem;
    }
    .btn-primary:hover{
      box-shadow: 4px 8px 14px rgba(255, 255, 255, 0.2);
    }
    .btn-secondary:hover{
      border-color: var(--primary);
      background-color: var(--bg-color-f);
    }
    .chip:hover{
      border-color: var(--primary);
      background-color: var(--bg-color-f);
  }
    .typed-cursor{
      font-size: 5rem;
    }
    .tag-chip:hover{
      background-color: var(--bg-color-f);
    }

    /* Projects */
    
  }
  
  

  @keyframes show-in {
    from{
        scale: .9;
        opacity: 0;
    }
    
    to{
        scale: 1;
        opacity: 1;
    }
    
}
@keyframes slide-in {
    from{
        opacity: 0;
        scale: .8;
    }
    
    to{
        opacity: 1;
        scale: 1;
    }
    
}

@keyframes pulse {
    0%{
        scale: 1;
    }
    50%{
        scale: 1.105;
    }
    100%{
        scale: 1;
    }
}

@keyframes arrow-up {
    0%{
        transform: translateY(-500px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
} 
