.arrow-card{
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    clip-path: fill-box;
    cursor: pointer;
}
.arrow-img{
    position: relative;
}
.arrow-img img{
    width: 100%;
    margin: 0;
    max-height: 230px;
}
.arrow-img::before{
    content: '';
    position: absolute;
    bottom: 70%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
}
.arrow-description{
    height: 60px;
    background-color: var(--bg-color-f);
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.arrow-info{
    height: 60px;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    gap: 30px;
    padding: 10px 20px;
    background-color: var(--bg-color-f);
    transition: all .6s ease-in-out !important;
}
.arrow-info .tag-container{
    min-height: 65px;
    height: 65px;
}
.arrow-links{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}


@media (min-width: 1024px) {
    .arrow-card:hover .arrow-info{
        height: 230px;
    }
    .arrow-card:hover .arrow-img img{
        opacity: .4;
    }
    .arrow-card:hover .arrow-img::before{
        content: 'Mas detalles';
        opacity: 1 !important;
    }
    

}
