---
import { Icon } from "astro-icon/components";


const pages = [
    {   
        name: 'Inicio',
        url: '/'
    },
    {   
        name: 'Proyectos',
        url: '/proyectos/'
    },
    {   
        name: 'Contactame',
        url: '/contacto/'
    },

];


---

<footer>
   <div class="top">
    <div class="links">
        {
            pages.map( pag =>  (
                <a href={pag.url}>{pag.name}</a>
            ))
        }
    </div>
    <div class="social">
        <a href="https://github.com/Cesart18" target="_blank"><Icon name={'github'} width={30} height={30}/></a>
        <a href="https://twitter.com/CesarTovarA" target="_blank"><Icon name={'twitter'} width={30} height={30}/></a>
        <a href="www.linkedin.com/in/cesar-tovar-584111164" target="_blank"><Icon name={'linkedin'} width={30} height={30}/></a>
        <a href="emailto:cjataonline@gmail.com" target="_blank"><Icon name={'email'} width={30} height={30}/></a>
       
    </div>
   </div>
   <hr>
    <span>&copy; 2024 César Tovar, todos los derechos reservados</span>
</footer>
<style>
    footer{
        background-color: var(--bg-color-f);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        align-items: center;
    }

    .top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        
    }
    .links{
        display: flex;
        gap: 16px;
    }
    .social{
        display: flex;
        gap: 20px;
    }
    .social svg{
        width: 30px;
        height: 30px;
    }
    hr{
        margin: 20px 0;
        width: 100%;
    }
    .links a, .social a{
        transition: all .2s ease-in-out;
    }

    @media (min-width: 768px) {
        .top{
            width: 100%;
            flex-direction: row;
            justify-content: space-around;
        }
        .links a:hover{
            color: var(--primary);
            scale: 1.05;
        }
        .social a:hover{
            scale: 1.05;
            filter: opacity(.7);
        }
    }
</style>