---

import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props  } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + subpath?.[0];

---

<a href={href} class:list={[className, isActive? 'active' : 'non-active']} {...props}>
	<slot />
</a>
<style>
	a {
		display: inline-block;
		text-decoration: none;
        padding: 6px 12px;
		border-radius: 16px;
		transition: background-color .3s ease-in-out;
		font-weight: 300;
	}
	a.active {
		font-weight: 500;
		color: var(--bg-color);
		background-color: var(--primary);
	}
	a.non-active:hover{
		background-color: var(--gray);
	}
</style>
