---
import { Icon } from 'astro-icon/components';

interface Props{
    title: string,
    url?: string;
}

const {  title, url } = Astro.props;
---

<a href={url} target="_blank" class="chip">

        {
            (url)?
            <Icon name={title.toLocaleLowerCase()} />
            : null
        }
        <p id="chip-title">{title}</p>

</a>

