---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import ArticleTopLayout from "../../layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "../../layouts/ArticleBottomLayout.astro";

export async function getStaticPaths(){
    const projects = await getCollection('projects');
    return projects.map( proj =>  ({
        params: { slug: proj.slug },
        props: proj
    }))
}

type Props = CollectionEntry<'projects'>
const project = Astro.props;
---

<MainLayout title={project.data.title}
description={project.data.description}>
    
    <section>
        <ArticleTopLayout  entry={project}/>
        <ArticleBottomLayout entry={project}/>
    </section>
</MainLayout>
<style>
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
</style>
