---

---

<section id="about">
  <div class="about-text">
    <h2 >SOBRE MI</h2>
    <p>
      Soy Cesar Tovar, desarrollador de software dedicado a estructurar y
      desarrollar aplicaciones web y moviles, con la capacidad de proporcionar
      un excelente rendimiento y optimizacion, ademas de implementacion de SEO
      para la web.
    </p>
  </div>
</section>

<style>
  section {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 10px 0;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
  }
  h2,p{
    opacity: 0;
    scale: 0;
    text-align: center;
    transition: all 1s ease-in-out;
  }
  
  
  .about-text {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    transition: all 0.8s ease-in-out 0.5s;
  }
  @media (min-width: 1024px) {
    section {
      margin-top: 10px;
      padding: 200px 0 10px 0;
    }
    .skills-container {
      max-width: 500px;
    }
  }
</style>
<script>
    const h2 = document.querySelector('h2');
    const p = document.querySelector('p');
    document.addEventListener('astro:page-load', () => {
        const show = (entries:IntersectionObserverEntry[]) => {
            const entry = entries[0];
            if(entry.isIntersecting){
                h2?.classList.add('active');
                setTimeout(() => {
                    p?.classList.add('active');
                }, 500);
            }
        }

        const observer = new IntersectionObserver(show, {

        });
        observer.observe(p!);
    });
 </script>

