---
import { Image } from "astro:assets";


---

<section>
    
        <div class="hero">
            <div id="type-strings" hidden>
                <span><strong>Desarrollador</strong> de Software</span>
            </div>
            <div class="text">
                <h1></h1>
            </div>
            <div class="memoji">
                <Image src={'/images/programador.png'} alt={'memoji'} width={200} height={200} loading={'eager'} />
            </div>
        </div>
        <a href="#about" class="arrow">

        </a>
</section>

<style>
    section{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 20px 10px 20px;
        border-radius: 30px;
        background: linear-gradient(
            to bottom right, var(--bg-color) ,var(--secondary), var(--primary)  
        );
        gap: 100px;
    }
    strong{
        color: var(--primary);
    }

    .hero{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    h1{
        max-width: 230px;
        width: 100%;
        /* min-height: 100px; */
        filter: drop-shadow(6px 8px 14px rgba(0, 0, 0, .5));
        display: inline;
    }
    img{
        width: 100%;
        animation: show-in 1s ease-in-out ;
    }
    .memoji{
        width: 200px;
        min-height: 305px;
        height: 100%;
    }
    .arrow{
        min-height: 50px;
        animation: pulse 1s linear infinite;
    }
   .text{
    display: flex;
    justify-content: center;
    text-align: center;
    display: inline;
    min-height: 100px;


   }
   
    
    @media (min-width: 768px) {
        section{
            padding: 220px 20px 10px 20px;
            gap: 60px;
        }
        .hero{
            flex-direction: row;
            gap: 80px;
        }
        .memoji{
            width: 320px;
            min-height: 520px;
        }
        h1{
            min-width: 600px;
            max-width: 600px;
        }
        
        .arrow:hover{
            filter: opacity(.8);
        }
        .text{
    display: flex;
    justify-content: center;
    text-align: center;
    display: inline;
    max-width: 600px;
    min-width: 600px;
   }

    }

    

    @keyframes show-in {
        from{
            scale: .9;
            opacity: 0;
        }
        
        to{
            scale: 1;
            opacity: 1;
        }
        
    }
    @keyframes slide-in {
        from{
            opacity: 0;
            scale: .8;
        }
        
        to{
            opacity: 1;
            scale: 1;
        }
        
    }

    @keyframes pulse {
        0%{
            scale: 1;
        }
        50%{
            scale: 1.105;
        }
        100%{
            scale: 1;
        }
    }

    @keyframes arrow-up {
        0%{
            transform: translateY(-500px);
            opacity: 0;
        }
        100%{
            transform: translateY(0);
            opacity: 1;
        }
    } 
    
</style>

<script>
    import Typed from 'typed.js';
    const memoji = document.querySelector('.memoji');
    const arrow = document.querySelector('.arrow');
    const typed = new Typed('h1', {
  stringsElement: '#type-strings',
  typeSpeed: 60,
  autoInsertCss: true,
  
});

    const img = document.createElement('img');
    img.setAttribute('src', '/images/cesar.png' );
    img.alt = 'memoji cesar'
    img.width = 200;
    img.height = 200;
    img.loading = 'lazy';
    img.style.animation = 'slide-in 2s ease-in-out';
    img.style.width = '100%';
    img.style.cursor = 'pointer';
    img.style.transition = 'all .5s ease-in-out';
   
   const btn = document.createElement('button');
   btn.style.transition = 'all .5s ease-in-out';
   btn.innerHTML = 'Contacta conmigo';
   btn.classList.add('btn-primary');
   
   const div = document.createElement('div');
   div.style.transition = 'all .5s ease-in-out';

    div.classList.add('contact');
    div.append(img,btn);



    const cursor = document.querySelector('.typed-cursor');
    

    typed.stop();

    setTimeout( () => typed.start() , 600);

    setTimeout( () => {
        memoji!.innerHTML = '';
        memoji?.append(div);
        cursor!.innerHTML = '';        
        // // hover
        img?.addEventListener('mouseenter', () => {
            img.setAttribute('src', '/images/guino.png');

        });
        img?.addEventListener('mouseleave', () => {
            img.setAttribute('src', '/images/cesar.png');

        });
        btn?.addEventListener('mouseenter', () => {
            img.setAttribute('src', '/images/guino.png');

        });
        btn?.addEventListener('mouseleave', () => {
            img.setAttribute('src', '/images/cesar.png');

        });


    },4000 );

    div.addEventListener('click', () => {
        location.href = '/contacto/';
    })

    setTimeout(() => {
        arrow!.innerHTML = `<img src='/icons/arrow-down.svg' alt='arrow down' width='30px' height='30px' loading='eager' style="animation: arrow-up 1s ease-in-out" >`
    }, 4300)

</script>