---
import { Image } from "astro:assets";
import { filteredTag } from "../consts";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import SkillChip from "../components/SkillChip.astro";
import { ProjectCard } from "../components/ProjectCard";

const webTags = ["astro", "typescript", "react"];


const projects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3);
---

<section>
  <Image
    src={"/images/programador.webp"}
    alt={"memoji"}
    width={120}
    height={120}
    loading={"lazy"}
    class={'program'}
  />

  <h3>Página web creada con:</h3>

  <div class="skills-container">
    {
      webTags.map((tag) => {
        const sk = filteredTag(tag);
        return <SkillChip title={sk!.NAME} url={sk?.HREF} />;
      })
    }
  </div>
  <hr />
  <div class="projects-container">
   <div class="title-project">
    <h3>PROYECTOS MAS RECIENTES</h3> 
   </div>
    {
      projects.map((project) => {
        return <ProjectCard client:load project={project} />;
      })
    }
    <div class="all-projects">
      <a href={`/${projects[0].collection}/`} class="btn-secondary"
    >Ver todos los proyectos</a
  >
    </div>
  </div>
  <hr />
</section>

<style>
   section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    gap: 30px;
    width: 100%;
  }

  .skills-title {
    display: inline;
  }

  .skills-container {
    min-width: 200px;
    justify-content: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 10px;
    transition: all 1s ease-in-out;
    width: 100%;

  }
  .title-project{
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .all-projects{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  hr {
    width: 100%;
    margin: 30px 0;
    max-width: 560px;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: 600px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .skills-container {
      max-width: 500px;
    }
  }
  @media (min-width: 1024px) {
    .skills-container {
      max-width: 500px;
    }
  } 
</style>
