---
import "../style/global.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Seo from "../components/Seo.astro";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <Seo description={description} title={title} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <ViewTransitions transition:animate={'slide'}  />
    <Footer />
  </body>
</html>
